* {
  margin: 0px;
  padding: 0%;
  box-sizing: border-box;
}
mat-toolbar{
  justify-content: space-between;
}

@media screen and (max-width: 1000px) , (max-aspect-ratio: 16/9) {
  mat-toolbar p{
    display: none;
  }  
}

