* {
  margin: 0px;
  padding: 0%;
  box-sizing: border-box;
}
label {
  margin: 0px;
}
.slide {
  position: fixed;
  margin-right: 0px;
  margin-bottom: 0px;
  height: 100%;
  min-height: fit-content;
  width: fit-content;
  /*min-width: 45vh;*/
  padding-top: 20px;
  padding-bottom: 10px;
  padding-right: 0px;
  position:fixed;
  top: 0;
  left: 0;
  background-color: var(--menuback);
  border-radius: 0px;
  transition: 0.10s ease;
  /*transform: translateX(+500px);*/
  overflow-y: scroll;
}
.menu-notes {
  margin: 0%;
  color: var(--menutext);
  font-size: calc(20px + 1.0vh);
  font-weight: 800;
  text-align: left;
  padding-left:10px;
  padding-right: 10px;
  padding-top: 10px;
  pointer-events: none;
}
.slide ul li {
  list-style: none;
}
.slide ul li a {
  color: var(--menutext);
  font-weight: 400;
  font-size: calc(10px + 1.0vh);
  padding: 8px 10px 8px 0px;
  margin: 3px 5px 3px 5px;
  display: flex;
  text-transform: capitalize;
  text-decoration: none;
  align-items:center;
  transition: 0.1s ease-out;
  border-radius: 4px;
}
.slide ul li:hover a {
  color: var(--text);
  background-color: var(--menuhover);
}
/*ul li a i {
  width: 40px;
  text-align: center;
}*/
.slide ul li a svg {
  width: calc(40px + 1.0vh);
  padding-right: 10px;
  padding-left: 10px;
  text-align: center;
}
/*.input-toggle {
  display: none;
  visibility: hidden;
  -webkit-appearance: none;
}
.toggle {
  position: fixed;
  height: 4.5vh;
  min-height: 30px;
  width: 4.5vh;
  min-width: 30px;
  bottom: 29px;
  right: 33px;
  z-index: 1;
  cursor: pointer;
  border-radius: 2px;
  background-color: var(--button);
  box-shadow: 0 0 3px var(--buttonshadow);
}
.toggle .common {
  position: absolute;
  height: 0.15vh;
  min-height: 2px;
  width: 3.5vh;
  min-width: 20px;
  background-color: var(--menutext);;
  border-radius: 50px;
  transition: 0.3s ease;
}
.toggle .top_line {
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.toggle .middle_line {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.toggle .bottom_line {
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
}*/
/*.input-toggle:checked ~ .toggle {
  background-color: var(--menutext);
}
.input-toggle:checked ~ .toggle .common {
  background-color: var(--button);
}


.input-toggle:checked ~ .slide {
  transform: translateX(0);
  box-shadow: 0 0 15px var(--menushadow);
}*/
@media screen and (max-width: 1000px) , (max-aspect-ratio: 16/9) {
  .slide ul li a p{
    display: none;
    transition: 0.1s ease-out;
  }
  .menu-notes{
    display: none;
    transition: 0.1s ease-out;
  }
  .slide ul li a {
    padding: 10px 10px 10px 10px;
    transition: 0.1s ease-out;
}
  
}

/*@media screen and (max-aspect-ratio: 10/16), (max-width: 500px)  {
  
  .slide{
    width: 100%;
    margin-right: 0px;
    display: none;
    transition: 0s;
  }
  .input-toggle:checked ~ .slide {
    display: block;
    transition: 0.3s ease-in;
  }
  .menu-notes{
    text-align: center;
  }
  .slide ul li a{
    justify-content: center;
    padding-bottom: 10px;
  }
}*/